@import "../abstracts/variables";

#app {
  display: flex;
  gap: 3.2rem;

  width: 100%;
  max-width: 120rem;
  height: calc(100vh - 6.4rem);
  margin: 3.2rem auto;
  overflow: hidden;

  .navigation,
  .contact,
  .message {
    border-radius: 2.4rem;
  }

  .navigation {
    flex: 0 0 22rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6rem;

    padding: 2.4rem 0 1.6rem;
    background-color: #f14668;
    overflow: auto;

    .heading-1 {
      text-align: center;
    }

    .profile {
      margin: 0 auto;

      figure {
        img {
          max-width: 100%;
          height: 10rem;
          border: 5px solid #fff;
          border-radius: 50%;
          cursor: pointer;
        }

        figcaption {
          margin-top: 0.8rem;
          text-align: center;
        }
      }
    }

    ul {
      margin-left: 1.6rem;
      padding: 0;
    }

    li {
      list-style: none;
      margin: 0.8rem 0;

      a {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        padding: 1.6rem;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        transition: $transition;

        &:hover {
          background-color: rgb(224, 54, 88);
        }

        &:active,
        &.active {
          border-right: 5px solid rgb(155, 12, 41);
          background-color: rgb(224, 54, 88);
        }
      }
    }
  }

  .contact {
    flex: 0 0 42rem;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    &__search,
    &__header,
    &__item,
    &__footer {
      background-color: #fff;
    }

    &__search {
      position: sticky;
      top: 0;
      left: 0;

      width: 100%;
      border-radius: $border-radius-primary;
    }

    &__header {
      padding: 1.6rem;
      font-size: 2rem;
      font-weight: 600;
      border-top-left-radius: $border-radius-primary;
      border-top-right-radius: $border-radius-primary;
      border-bottom: 1px solid #d4d2d2;
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      height: 100vh;
      margin: -2.4rem 0;
      padding: 1.6rem 1.6rem 0;
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: #ddd7d8 #fff;
    }

    &__footer {
      padding: 1.2rem;
      border-bottom-left-radius: $border-radius-primary;
      border-bottom-right-radius: $border-radius-primary;
    }
  }

  .follower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;

    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;

    &:not(:last-child) {
      padding-bottom: 1.9rem;
      border-bottom: 1px solid #d4d2d2;
    }

    figure {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      img {
        max-width: 100%;
        height: 6rem;
        border: 3px solid white;
        border-radius: 50%;
        cursor: pointer;
      }

      &.recipient {
        img {
          height: 8rem;
        }
      }

      figcaption {
        margin-top: 0.8rem;
        text-align: center;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      line-height: 1.3;
    }

    &__name {
      font-weight: 700;
    }

    &__datetime {
      display: flex;
      justify-content: flex-end;
      font-weight: 600;
      font-size: 1.2rem;
    }

    &__counter {
      display: flex;
      justify-content: flex-end;

      &--value {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 1.2rem;
        height: 1.2rem;
        padding: 1.2rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: #fff;
        background-color: #f14668;
        border-radius: 50%;
      }
    }
  }

  .message {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2.4rem 1.6rem;
    background-color: #fff;

    &__recipient {
      display: flex;
      justify-content: space-between;
      align-items: center;

      figure {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        img {
          max-width: 100%;
          height: 8rem;
          border: 3px solid white;
          border-radius: 50%;
          cursor: pointer;
        }

        figcaption {
          margin-top: 0.8rem;
          text-align: center;
        }
      }
    }
  }
}
