@import "../abstracts/variables";

#app {
  display: flex;
  gap: 3.6rem;

  width: 100%;
  max-width: 120rem;
  height: calc(100vh - 6.4rem);
  margin: 3.2rem auto;
  overflow: hidden;

  .contact,
  .message {
    padding: 2.4rem;
    border-radius: 2.4rem;
  }

  .navigation,
  .contact,
  .message {
    border-radius: 2.4rem;
  }

  .navigation {
    flex: 0 0 22rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.2rem;

    padding: 2.4rem 0 1.6rem;
    background-color: #f14668;
    overflow: auto;

    .profile {
      margin: 0 auto;

      figure {
        img {
          max-width: 100%;
          height: 10rem;
          border: 5px solid white;
          border-radius: 50%;
          cursor: pointer;
        }

        figcaption {
          margin-top: 0.8rem;
          text-align: center;
        }
      }
    }

    ul {
      margin-left: 1.6rem;
      padding: 0;
    }

    li {
      list-style: none;
      margin: 1.6rem 0;

      a {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        padding: 1.6rem;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        transition: $transition;

        &:hover {
          border-right: 5px solid rgb(155, 12, 41);
          background-color: rgb(224, 54, 88);
        }

        &:active,
        &.active {
          border-right: 5px solid rgb(155, 12, 41);
          background-color: rgb(224, 54, 88);
        }
      }
    }
  }

  .contact {
    flex: 0 0 36rem;
    background-color: aqua;
  }

  .message {
    flex: 1;
    background-color: antiquewhite;
  }
}
