* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 120rem;
  margin: 0 auto;
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #666;
  background-color: #ece6e7;
  line-height: 1.7;
}

img {
  display: block;
}

a:link {
  padding: 1rem 1.6rem;
  text-decoration: none;
}

figcaption {
  margin-top: 0.8rem;
  font-weight: 600;
  text-align: center;
}
