* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Archivo", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #666;
  line-height: 1.7;
}
