@import "../abstracts/variables";

h1 {
  font-size: 3.6rem;
}

.navigation,
.navigation a {
  color: #fff;
}

.brand .heading-1 {
  font-size: 2.4rem;
  font-weight: 700;
}

.heading-1 {
  font-size: 2.8rem;
  font-weight: 700;
}

.heading-2 {
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
  font-weight: 600;
}

.lead {
  margin-bottom: 1.8rem;
  font-size: 2rem;
  font-weight: 400;
}

.title {
  font-weight: 700;
}

.highlight {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
}

.contact__header {
  font-size: 2rem;
  font-weight: 600;
}

.message__comment--header {
  font-size: 1.8rem;
  font-weight: 600;
}
