* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #666;
  background-color: #ece6e7;
  line-height: 1.7;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.6rem;
}

.navigation,
.navigation a {
  color: #fff;
}

.form {
  margin: 0;
  font-size: 1.6rem;
}
.form__horizontal {
  display: grid;
  align-items: start;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1.6rem;
  width: 100%;
}
.form__horizontal button {
  margin-top: 0.8rem;
  padding: 1.2rem 1.2rem 1rem;
}
.form fieldset {
  border: none;
}
.form fieldset:not(:last-of-type) {
  padding-bottom: 4rem;
  border-bottom: 0.1rem solid rgba(80, 161, 109, 0.15);
}
.form fieldset:last-of-type {
  margin-bottom: -1.6rem;
}
.form fieldset legend {
  margin-bottom: 1.6rem;
}
.form__input-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.form__group {
  display: grid;
  align-items: start;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1.6rem;
}
.form__group:not(:last-of-type) {
  margin-bottom: 1.6rem;
}
.form__label {
  display: flex;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}
.form__input {
  display: flex;
  flex-direction: column;
  position: relative;
}
.form__input .input-icon {
  position: absolute;
  top: 50%;
  left: 3.2rem;
  transform: translate(-50%, -50%);
  width: 2.4rem;
  height: 2.4rem;
  color: #999;
}
.form__input .input-icon.textarea {
  top: 2.4rem;
}
.form__input .input-icon.password {
  left: calc(100% - 2.4rem);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.form__input .input-icon.password.hide {
  display: none;
}
.form__input .input-icon.password.show {
  display: block;
}
.form__input input[type=text],
.form__input input[type=search],
.form__input input[type=email],
.form__input input[type=password],
.form__input input[type=number],
.form__input input[type=tel],
.form__input input[type=file],
.form__input input[type=checkbox],
.form__input select,
.form__input textarea {
  position: relative;
  width: 100%;
  font-family: "Archivo", sans-serif;
  font-size: inherit;
  font-weight: inherit;
  padding: 1.6rem 1.6rem 1.6rem 5.4rem;
  border: 0.1rem solid #e0e0e0;
  border-radius: 3rem;
  background-color: rgba(217, 217, 217, 0.15);
  outline: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.form__input input[type=text]:hover, .form__input input[type=text]:focus,
.form__input input[type=search]:hover,
.form__input input[type=search]:focus,
.form__input input[type=email]:hover,
.form__input input[type=email]:focus,
.form__input input[type=password]:hover,
.form__input input[type=password]:focus,
.form__input input[type=number]:hover,
.form__input input[type=number]:focus,
.form__input input[type=tel]:hover,
.form__input input[type=tel]:focus,
.form__input input[type=file]:hover,
.form__input input[type=file]:focus,
.form__input input[type=checkbox]:hover,
.form__input input[type=checkbox]:focus,
.form__input select:hover,
.form__input select:focus,
.form__input textarea:hover,
.form__input textarea:focus {
  background-color: rgba(217, 217, 217, 0.25);
}
.form__input input[type=password] {
  padding-right: 4.4rem;
}
.form__input input[type=file] {
  padding: 0.8rem 1.2rem 0.8rem 1.6rem;
  cursor: pointer;
}
.form__input select {
  appearance: none;
  background: rgba(217, 217, 217, 0.15) url("../../../public/icons/chevron-down.svg") no-repeat calc(100% - 0.8rem) center;
  background-size: 3.6rem;
  cursor: pointer;
}
.form__input select.payment {
  padding-left: 1.6rem;
}
.form__input select optgroup {
  padding: 16rem 0 !important;
}
.form__input textarea {
  height: 15rem;
  padding-top: 1.5rem;
  resize: none;
}
.form__input textarea.message {
  height: 20rem;
}
.form__input textarea.admin {
  height: 30rem;
}
.form__input ::placeholder {
  color: #999;
}
.form__input :disabled {
  cursor: not-allowed;
}
.form button {
  font-family: "Archivo", sans-serif;
}
.form .checkbox {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin: 0.4rem 0;
}
.form .checkbox label {
  display: flex;
  font-weight: 400;
  margin-top: -0.2rem;
  cursor: pointer;
}
.form .checkbox label a {
  display: flex;
  margin-left: 0.3rem;
}
.form .checkbox input[type=checkbox] {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 5rem;
  border: 0.1rem solid #e0e0e0;
  cursor: pointer;
}

.icon {
  width: 2.4rem;
  stroke-width: 2px;
}

.input-icon {
  stroke-width: 4px;
}

#app {
  display: flex;
  gap: 3.2rem;
  width: 100%;
  max-width: 120rem;
  height: calc(100vh - 6.4rem);
  margin: 3.2rem auto;
  overflow: hidden;
}
#app .navigation,
#app .contact,
#app .message {
  border-radius: 2.4rem;
}
#app .message {
  padding: 2.4rem 2.4rem 1.6rem;
}
#app .navigation {
  flex: 0 0 22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
  padding: 2.4rem 0 1.6rem;
  background-color: #f14668;
  overflow: auto;
}
#app .navigation .profile {
  margin: 0 auto;
}
#app .navigation .profile figure img {
  max-width: 100%;
  height: 10rem;
  border: 5px solid white;
  border-radius: 50%;
  cursor: pointer;
}
#app .navigation .profile figure figcaption {
  margin-top: 0.8rem;
  text-align: center;
}
#app .navigation ul {
  margin-left: 1.6rem;
  padding: 0;
}
#app .navigation li {
  list-style: none;
  margin: 1.6rem 0;
}
#app .navigation li a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1.6rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  transition: all 0.2s ease-in-out;
}
#app .navigation li a:hover {
  background-color: rgb(224, 54, 88);
}
#app .navigation li a:active, #app .navigation li a.active {
  border-right: 5px solid rgb(155, 12, 41);
  background-color: rgb(224, 54, 88);
}
#app .contact {
  flex: 0 0 42rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
#app .contact__search, #app .contact__item {
  background-color: #fff;
  border-radius: 2.4rem;
}
#app .contact__search {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}
#app .contact__item {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1.6rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ddd7d8 #ece6e7;
}
#app .contact__item .heading {
  font-size: 2rem;
  font-weight: 700;
}
#app .contact__item .follower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
}
#app .contact__item .follower:not(:last-child) {
  padding-bottom: 2.4rem;
  border-bottom: 1px solid #d4d2d2;
}
#app .contact__item .follower figure {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
#app .contact__item .follower figure img {
  max-width: 100%;
  height: 6rem;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}
#app .contact__item .follower figure figcaption {
  margin-top: 0.8rem;
  text-align: center;
}
#app .contact__item .follower__item {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}
#app .contact__item .follower__name {
  font-weight: 700;
}
#app .contact__item .follower__datetime {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 1.2rem;
}
#app .contact__item .follower__counter {
  display: flex;
  justify-content: flex-end;
}
#app .contact__item .follower__counter--value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  height: 1.2rem;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background-color: #f14668;
  border-radius: 50%;
}
#app .message {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

/*# sourceMappingURL=app.css.map */
